In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine('mysql+pymysql://root:Omnitech%407329@localhost:3306/student')

In [4]:
connection=engine.connect()

In [5]:
query = 'select * from employees'

In [6]:
df = pd.read_sql(query,connection)

In [7]:
print (df)

    id first_name last_name                       email   department  \
0    1       John       Doe        john.doe@example.com  Engineering
1    2       Jane     Smith      jane.smith@example.com    Marketing
2    3      Alice   Johnson   alice.johnson@example.com           HR
3    4        Bob     Brown       bob.brown@example.com      Finance
4    5    Charlie     Davis   charlie.davis@example.com           IT
5    6      Diana    Garcia    diana.garcia@example.com        Sales
6    7      Ethan  Martinez  ethan.martinez@example.com   Operations
7    8      Fiona    Harris    fiona.harris@example.com    Marketing
8    9     George     Clark    george.clark@example.com  Engineering
9   10     Hannah     Lewis    hannah.lewis@example.com           HR
10  11        Ian    Walker      ian.walker@example.com           IT
11  12       Jack      Hall       jack.hall@example.com      Finance
12  13      Kelly     Young     kelly.young@example.com        Sales
13  14       Liam      King       liam.king@example.com   Operations
14  15        Mia    Wright      mia.wright@example.com    Marketing
15  16       Noah     Scott      noah.scott@example.com  Engineering
16  17     Olivia     Green    olivia.green@example.com           HR
17  18       Paul     Adams      paul.adams@example.com           IT
18  19      Quinn     Baker     quinn.baker@example.com      Finance
19  20     Rachel    Nelson   rachel.nelson@example.com        Sales
20  21        Sam    Carter      sam.carter@example.com   Operations

     hire_date   salary
0   2022-01-15  75000.0
1   2023-03-22  60000.0
2   2021-06-30  55000.0
3   2020-11-12  80000.0
4   2021-07-05  70000.0
5   2019-02-18  62000.0
6   2023-04-10  68000.0
7   2020-08-25  59000.0
8   2022-03-30  73000.0
9   2021-09-15  57000.0
10  2020-05-12  72000.0
11  2023-01-20  85000.0
12  2022-12-01  64000.0
13  2021-11-11  66000.0
14  2023-05-19  62000.0
15  2022-10-09  74000.0
16  2020-04-14  58000.0
17  2019-07-20  71000.0
18  2023-02-02  83000.0
19  2022-06-28  60000.0
20  2021-08-15  65000.0